<div class="container">
  <div class="row">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link" data-bs-toggle="tab" type="button" role="tab" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }" routerLink="/">Home</button>
        <button class="nav-link" data-bs-toggle="tab" type="button" role="tab" routerLinkActive="active" routerLink="/about">About</button>
        <button class="nav-link" data-bs-toggle="tab" type="button" role="tab" routerLinkActive="active" routerLink="/movies">Movies</button>
        <button class="nav-link" data-bs-toggle="tab" type="button" role="tab" routerLinkActive="active" routerLink="/contact">Contact</button>
        <button class="nav-link" data-bs-toggle="tab" type="button" role="tab" routerLinkActive="active" [routerLink]="['/category']">Category</button>
        <button class="nav-link" data-bs-toggle="tab" type="button" role="tab" routerLinkActive="active" [routerLink]="['/categories']">Products</button>
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" role="tabpanel" tabindex="0">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>


